.container {
    background-color: #ffffff;
    padding: 15px 15px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba($color: #000000, $alpha: 0.25);
}

.nav-pills .nav-link.active {
    background-color: #777777;
}
.nav-pills .nav-link:hover {
    background-color: #cccccc;
}

@media (min-width: 320px) and (max-width: 767px) {
    .ml-4{
        margin-left: 0 !important;
    }
}
@media (min-width: 768px) {
    .ml-4{
        margin-left: 1.5rem !important;
    }
}