<div class="container">
    <div class="d-flex row">
        <div class="col-lg-4 col-sm-12">
            <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-pills" orientation="vertical">
                <li *ngFor="let speech of speeches" ngbNavItem="{{speech.id}}">
                    <a ngbNavLink href="#outlet">{{speech.title}}</a>
                    <ng-template ngbNavContent>
                        <app-speech-form [speech]="speech"></app-speech-form>
                    </ng-template>
                </li>
            </ul>
        </div>
        <div class="col-lg-8 col-sm-12">
            <div [ngbNavOutlet]="nav" class="ml-4 mt-2" id="outlet"></div>
        </div>
    </div>
</div>