.container {
    background-color: #ffffff;
    padding: 15px 15px;
    border-radius: 5px;
}
.icon {
    height: 12px;
    width: 12px;
    color: black;
}


.send {
    margin: 5px 15px;
}

.textarea {
    height: 150px;
}

@media (min-width: 320px) and (max-width: 767px) {
    .btn-phone {
        display: none;
    }
    .btn-block{
        display: block;
    }
    .col-xs-12{
        margin-top: 0.5rem;
    }
    .share {
        margin-left: 0;
    }
}
@media (min-width: 768px) {
    .btn-phone {
        display: block;
    }
    .btn-block{
        display: none;
    }
    .full-width {
        width: 100%;
    }
    .col-xs-12{
        margin-top: 0;
    }

    .share {
        margin-left: -12px;
    }
}