.container {
    background-color: #ffffff;
    padding: 15px 15px;
    border-radius: 5px;
}
.icon {
    height: 12px;
    width: 12px;
    color: black;
}

.share {
    margin-left: -12px;
}

.send {
    margin: 5px 15px;
}

textarea {
    height: 150px;
}
