<div class="container" [ngClass]="{'shadow': !speech}">
    <form [formGroup]="speechForm">
        <div class="form-group">
            <input type="text" formControlName="title" class="form-control" placeholder="Title">
        </div>
        <div class="form-group">
            <textarea formControlName="content" class="form-control textarea" ></textarea>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-xs-12 col-md-4">
                    <input type="text" formControlName="author" class="form-control" placeholder="Author">
                </div>
                <div class="col-xs-12 col-md-4">
                    <input type="text" formControlName="keywords" class="form-control" placeholder="Keywords" placement="top" ngbTooltip="Keywords are designated by using ', ' as dividers">
                </div>
                <div class="col-xs-12 col-md-4">
                    <div class="input-group">
                        <input class="form-control" placeholder="yyyy-mm-dd"
                            name="dp"  formControlName="date" ngbDatepicker #d="ngbDatepicker">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
                                <mdb-icon far icon="calendar-alt"></mdb-icon>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-xs-12 col-md-6"></div>
                <div class="col-xs-12 col-md-2" *ngIf="speech">
                    <button type="button" (click)="delete()" class="btn btn-phone btn-danger">Delete</button>
                    <button type="button" (click)="delete()" class="btn btn-block btn-danger">Delete</button>
                </div>
                <div class="col-xs-12 col-md-2" *ngIf="speech">
                    <button type="button" (click)="save()" class="btn btn-phone btn-primary">Save</button>
                    <button type="button" (click)="save()" class="btn btn-block btn-primary">Save</button>
                </div>
                <div class="col-xs-12 col-md-2" *ngIf="speech">
                    <button type="button" (click)="share(true)" class="btn btn-phone btn-info share">Share</button>
                    <button type="button" (click)="share(true)" class="btn btn-block btn-info share">Share</button>
                </div>
                <div class="col-xs-12 col-md-6" *ngIf="!speech">
                    <button type="button" (click)="save()" class="btn full-width btn-primary">Save</button>
                </div>
            </div>
        </div>
    </form>
    <form *ngIf="showShare" class="form-group contact-form" (submit)="share(false)">
        <div class="row">
            <div class="col">
                <label>Email</label>
                <input class="form-control form-control-sm" [(ngModel)]="speechToShare.user_email" type="email" name="user_email">
            </div>
            <div class="col">
                <label>Message</label>
                <textarea class="form-control form-control-sm" [(ngModel)]="speechToShare.message" name="message" rows="1"></textarea>
            </div>
        </div>
        <div class="row">
            <input type="submit" class="btn btn-info send" value="Send">
        </div>
    </form>
</div>

