.nav-tabs {
    background-color: #343a40;
    border-color: transparent;
    .active {
        background-color: #eeeeee;
        border-color: transparent;
    }
}
a {
    color: #fff;
}

.container {
    margin-top: 20px;
}