.nav-tabs {
    background-color: #343a40;
    border-color: transparent;
    .active {
        background-color: #eeeeee;
        border-color: transparent;
    }
}
a {
    color: #fff;
}

.container {
    margin-top: 20px;
}

.showWhenSmall, .showWhenLarge {
    display: none;
}

.dropwdown {
    width: 100%;
    text-align: center;
}

@media (min-width: 320px) and (max-width: 767px) {
    .showWhenSmall{
        display: block;
    }
}
@media (min-width: 768px) {
    .showWhenSmall{
        display: none;
    }
    
    .showWhenLarge{
        display: flex;
    }
}